<%- include("includes/head") %>

<body
  class="vh-100 d-flex flex-column justify-content-center align-items-center"
>
  <%- include("includes/nav") %> <%- include("includes/flash") %>

  <div class="oscar-statue-sm"></div>
  <main class="rooms-container rounded-4 shadow-lg p-3">
    <section>
      <form action="/salas/criar" method="POST" class="create-room">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <div class="mb-3">
          <label for="room-name" class="form-label fs-5 fw-bold"
            >Criar sala</label
          >
          <input
            type="text"
            class="form-control"
            id="room-name"
            name="room-name"
            placeholder="Nome da sala"
            autocomplete="off"
          />
        </div>

        <button type="submit" class="btn btn-primary btn-large">Criar</button>
      </form>
    </section>

    <section>
      <h1 class="fs-4 fw-bold">Salas</h1>

      <ul class="nav nav-underline mb-3">
        <li class="nav-item">
          <a class="nav-link participating-rooms-tab active">Participando</a>
        </li>

        <li class="nav-item">
          <a class="nav-link admin-rooms-tab">Suas</a>
        </li>
      </ul>

      <div class="rooms overflow-auto mb-1">
        <ul class="list-group participating-rooms">
          <% if (rooms.participating.length > 0) { %> 
            <% for (let room of rooms.participating) { %>
              <li
                class="list-group-item d-flex align-items-center justify-content-between gap-2"
              >
                <small class="mr-2"><%= room.name %></small>
                <div class="d-flex gap-1">
                  <a
                    role="button"
                    href="/salas/entrar/<%= room.id %>"
                    class="btn btn-secondary btn-sm d-grid"
                    ><span class="material-symbols-outlined room-icon">
                      arrow_right_alt
                    </span></a
                  >
                </div>
              </li>
            <% } %> 
          <% } else { %>
            <div class="nothing-sm"></div>
            <p>Crie ou entre em uma sala</p>
          <% } %>
        </ul>

        <ul class="list-group admin-rooms d-none">
          <% if (rooms.admin.length > 0) { %> 
            <% for (let room of rooms.admin) { %>
              <li
                class="list-group-item d-flex align-items-center justify-content-between gap-2"
              >
                <small class="mr-2"><%= room.name %></small>
                <div class="d-flex gap-1">
                  <button
                    role="button"
                    class="btn btn-dark btn-sm d-grid place-items-center"
                    value="http://localhost:5000/salas/entrar/<%= room.id %>"
                  >
                    <span class="material-symbols-outlined room-icon">
                      content_copy
                    </span>
                  </button>

                  <a
                    role="button"
                    href="/salas/entrar/<%= room.id %>"
                    class="btn btn-secondary btn-sm d-grid place-items-center"
                    ><span class="material-symbols-outlined room-icon">
                      arrow_right_alt
                    </span></a
                  >

                  <a
                    role="button"
                    href="/salas/excluir/<%= room.id %>"
                    class="btn btn-danger btn-sm d-grid place-items-center"
                    ><span class="material-symbols-outlined room-icon">
                      delete_forever
                    </span></a
                  >
                </div>
              </li>
            <% } %> 
          <% } else { %>
            <div class="nothing-sm"></div>
            <p>Crie ou entre em uma sala</p>
          <% } %>
        </ul>
      </div>

      <form class="enter-room">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <div class="d-flex gap-2">
          <input
            type="url"
            class="form-control"
            id="room-url"
            name="room-url"
            placeholder="URL da sala"
            autocomplete="off"
          />

          <button type="submit" class="btn btn-primary btn-sm">Entrar</button>
        </div>
      </form>
    </section>
  </main>

<%- include("includes/footer") %>
