<%- include("includes/head") %>

<body class="vh-100 d-flex justify-content-center align-items-center">
  <%- include("includes/nav") %> <%- include("includes/flash") %>

  <main class="room-container d-flex justify-content-center align-items-center gap-5">
    <% if (Object.keys(oscarResult).length > 0) { %>
      <table class="table caption-top">
        <caption>
          Ranking
        </caption>

        <thead>
          <tr>
            <th scope="col">Posição</th>
            <th scope="col">Jogadores</th>
            <th scope="col">Pontos</th>
          </tr>
        </thead>

        <tbody>
          <% Object.keys(membersPredictions).forEach((member, position) => { %>
            <tr class="position">
              <th class="place" scope="row">#<%= position + 1 %></th>
              <td class="player"></td>
              <td class="points"></td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      <section class="d-flex gap-5 results">
        <button class="btn previous-category">
          <span class="material-symbols-outlined"> chevron_left </span>
        </button>

        <% for (let category in oscarResult) { %>
          <div class="d-flex align-items-center flex-column d-none category gap-2">
            <h2 class="fw-bold fs-3"><%= category %></h2>
    
            <img src="" class="img-thumbnail rounded oscar-img mb-3" alt="" />
    
            <ul class="members-guest list-group mb-3 overflow-auto">
              <% for (let member in membersPredictions) { %>
                <li
                  class="list-group-item d-flex align-items-center gap-3 prediction"
                >
                  <div>
                    <% if (oscarResult[category] === membersPredictions[member][category]) { %>
                      <span class="material-symbols-outlined rounded-btn check">
                        check
                      </span>
                    <% } else { %>
                      <span class="material-symbols-outlined close rounded-btn">
                        close
                      </span>
                    <% } %>
                  </div>

                  <span class="player"
                    ><%= member %>: <strong><%= membersPredictions[member][category] %></strong></span
                  >
                </li>
              <% } %>
          </div>
        <% } %>

        <button class="btn next-category">
          <span class="material-symbols-outlined"> chevron_right </span>
        </button>
      </section>
    <% } else { %>
      <div>
        <h1 class="fw-bold fs-3">Membros</h1>
        <ul class="list-group">
          <% for (let member in membersPredictions) { %>
            <li class="list-group-item"><%= member %></li>
          <% } %>
        </ul>
      </div>

      <div class="d-flex flex-column align-items-center">
        <div class="nothing"></div>
        <p class="lead">A cerimônia ainda não começou</p>
      </div>
    <% } %>
  </main>

  <p style="font-size: small;" class="text-body-secondary fixed-bottom m-2">Recarregue a página para atualizar os resultados</p>

<%- include("includes/footer") %>
